<!DOCTYPE html>
<html>
<head>
    <title>Pizarro Sistema</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>Movelaria Pizarro</h1>
</header>

<div class="container">

    <div class="card">
        <h3>Nova Sobra</h3>
        <form method="POST">
            <input name="largura" placeholder="Largura">
            <input name="altura" placeholder="Altura">
            <input name="espessura" placeholder="Espessura">
            <input name="cor" placeholder="Cor">
            <input name="obs" placeholder="Observação">
            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <h3>Lista de Sobras</h3>

    {% for item in dados %}
    <div class="card">
        <p><b>ID:</b> {{item.id}}</p>
        <p>{{item.largura}} x {{item.altura}} | {{item.cor}}</p>
        <p>Status: {{item.usado}}</p>

        <img class="qr" src="/static/qrcodes/qr_{{item.id}}.png">

        <a href="/usar/{{item.id}}">
            <button>Marcar como usado</button>
        </a>
    </div>
    {% endfor %}

</div>

</body>
</html>