<!DOCTYPE html>
<html>
<head>
    <title>Pizarro System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    Pizarro System
</header>

<div class="container">

    <!-- FORM -->
    <div class="card">
        <h3>Registrar Sobra</h3>
        <form method="POST">
            <input name="largura" placeholder="Largura (mm)">
            <input name="altura" placeholder="Altura (mm)">
            <input name="espessura" placeholder="Espessura">
            <input name="cor" placeholder="Cor">
            <input name="obs" placeholder="Observação">
            <button type="submit">Adicionar</button>
        </form>
    </div>

    <!-- LISTA -->
    <h3 style="color:#ffd700;">Estoque Inteligente</h3>

    {% for item in dados %}
    <div class="card">

        <div class="row">
            <span>ID {{item.id}}</span>
            <span class="valor">
                {{item.largura}}x{{item.altura}}
            </span>
        </div>

        <div class="row">
            <span>Cor:</span>
            <span>{{item.cor}}</span>
        </div>

        {% if item.usado == "NÃO" %}
            <div class="status disponivel">▲ Disponível</div>
        {% else %}
            <div class="status usado">▼ Usado por {{item.usado}}</div>
        {% endif %}

        <img class="qr" src="/static/qrcodes/qr_{{item.id}}.png">

        {% if item.usado == "NÃO" %}
        <a href="/usar/{{item.id}}">
            <button>Utilizar Peça</button>
        </a>
        {% endif %}

    </div>
    {% endfor %}

</div>

</body>
</html>