<!DOCTYPE html>
<html>
<head>
    <title>Pizarro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    Movelaria Pizarro
</header>

<div class="container">

    <!-- FORM -->
    <div class="card">
        <h3>Nova Sobra</h3>
        <form method="POST">
            <input name="largura" placeholder="Largura (mm)">
            <input name="altura" placeholder="Altura (mm)">
            <input name="espessura" placeholder="Espessura">
            <input name="cor" placeholder="Cor">
            <input name="obs" placeholder="Observação">
            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <!-- LISTA -->
    <h3>Sobras</h3>

    {% for item in dados %}
    <div class="card">

        <strong>ID {{item.id}}</strong><br>

        {{item.largura}} x {{item.altura}}<br>
        Cor: {{item.cor}}<br>

        {% if item.usado == "NÃO" %}
            <span class="status disponivel">Disponível</span>
        {% else %}
            <span class="status usado">Usado por {{item.usado}}</span>
        {% endif %}

        <br>

        <img class="qr" src="/static/qrcodes/qr_{{item.id}}.png">

        {% if item.usado == "NÃO" %}
        <a href="/usar/{{item.id}}">
            <button>Usar peça</button>
        </a>
        {% endif %}

    </div>
    {% endfor %}

</div>

</body>
</html>